<!DOCTYPE html>
<html>
<head>
  <script src="../vendor/angular.js"></script>
  <script src="../vendor/lodash.js"></script>
  <script src="../src/state_router.js"></script>
  <script src="ctl.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
  <body ng-app='app'>

    <div class='container' ng-controller='ctl' ng-init='init()'>

      <div class="panel panel-default">
      <div class="panel-heading  text-center">This is a widget</div>
        <div class="panel-body">
          <p>The widget states must be defined. You can supply state validations.</p>
          <p>The widget state initialized by the url route.</p>
          <p>State is change by inputs from the user. when the state is changes, so is the url route.</p>
          <p>Try to change the url values. set selected_num=30 & look at the console</p>
          <ul class="nav nav-tabs">
            <li ng-repeat='tab in tabs' ng-class="{'active': isSelectedTab($index)}" ng-click='selectTab(tab)'>
              <a>{{tab}}</a>
            </li>
          </ul>

          <ul class="nav nav-pills">
            <li ng-repeat='num in numbers' ng-class="{'active': isSelectedNum($index)}" ng-click='selectNum(num)'>
              <a>{{num}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
      <div class="panel-heading  text-center">Save & Load States</div>
        <div class="panel-body">
          <p>States can be saved under a string key. Saved states can be used later</p>
          <form role="form">
            <div class="form-group">
              <label>key</label>
              <input ng-model="saved_key_name" class="form-control">
            </div>
            <button class='btn btn-success' class="btn btn-default" ng-click="save()">Save</button>
            <button class='btn btn-primary' class="btn btn-default" ng-click="load()">Load</button>
          </form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading  text-center">State View & Getters</div>
        <div class="panel-body">
          <p>State is encapsulated. access is via StateService.get(). You can't use binding...</p>
          <ul class="list-group">
            <li class="list-group-item"> StateService.get('selected_tab') = {{StateService.get('selected_tab')}} </li>
            <li class="list-group-item"> StateService.get('selected_num') = {{StateService.get('selected_num')}} </li>
            <li class="list-group-item">
              <button class='btn btn-primary' ng-click='getAppStateView()'> click to update state-view</button>
              <div>StateService.view() = {{state_view}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>
